<div class="row">
        <div class="col s12 m6 l6">
          <div class="card teal darken-4 z-depth-5">
            <div class="card-content white-text">
              <span class="card-title"><h5>Testimonials</h5></span>
              <p>“When I first made contact with Mr.Gananathan and team, I was taken with the ‘can-do’ attitude towards our entire project (it was a big one), and their willingness to meet our needs – both creative and budgetary! We had a fairly intense approval process on our end, but the Sleepless team always made working together easy; from new needs popping up, to last minute changes, the overall approach was hard-working but always positive. Even post-launch, the team has continued to be helpful and interactive, making it easy to solve any issues quickly and resolutely. Thank you, Sleepless!”</p>
            </div>
            <div class="card-action">
              <a href="#">RS info solutions Director (MR.Ramesh) </a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
<ul class="collapsible popout purple lighten-5" data-collapsible="accordion">
    <li>
      <div class="collapsible-header red"><i class="material-icons">filter_drama</i>Branding and strategic thinking</div>
      <div class="collapsible-body"><span>When others focus on just graphic design, we look at your brand’s overall persona and device ways in which the website design can accentuate it online. Our strategy team plays an important role in planning and devising a communication strategy for your website.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Creative web designing
</div>
      <div class="collapsible-body"><span>All our web design projects are directly handled by the senior creative team. The team includes the Art Director, Creative Director and Copywriter – all of whom have over 15 years of expertise in building world-class websites.</span></div>
    </li>
    <li>
      <div class="collapsible-header red"><i class="material-icons">whatshot</i>Coding and Technology</div>
      <div class="collapsible-body"><span>Our software developers are updated with the latest coding standards and technology innovations in the desktop and mobile medium. This helps us build websites that are highly engaging, secure and in par with the best in the world..</span></div>
    </li>
        <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Marketing your website</div>
      <div class="collapsible-body"><span>Who wouldn’t want their website to rank well on search engines? Our expertise in search engine optimization and online marketing helps us build websites that ranks amazingly well on all leading search engines and perform well on social media. We can also come up with beautiful microsite designs that convert. Related read: How to improve Google ranking.</span></div>
    </li>
    <li>
      <div class="collapsible-header red"><i class="material-icons">whatshot</i>Website maintenance</div>
      <div class="collapsible-body"><span>Regular and timely maintenance of websites is a critical task which many ignore. Not when you have a website maintenance agreement with us. We make sure your website is updated with the latest content and your search engine ranking stays on top.</span></div>
    </li>
  </ul>
        </div>
      </div>