
      <footer class="page-footer red accent-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">24x7 Service & Support</h5>
                <p class="grey-text text-lighten-4">ePublishing is obsessive about service – and we are always here to take care of you.<br>

If you need immediate help or technical assistance – any time day or night – please visit our online support portal and a support specialist will get back to you within 15 minutes.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Aboutus</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contactus</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <a class="grey-text text-lighten-4 left" href="#arunjp.com">© 2014 Powered by GA Solutions & jpcoderesearch</a>
            <a class="grey-text text-lighten-4 right" href="#!">Hire Us</a>
            </div>
          </div>
        </footer>