<nav>
    <div class="nav-wrapper red accent-3">
      <a href="#!" class="brand-logo">GA solutions</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class= "waves-effect waves-light btn red"href="/#">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="services">Clients</a></li>
        <li><a href="contactus">Contact us</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/#">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="services">Clients</a></li>
        <li><a href="contactus">Contact us</a></li>
      </ul>
    </div>
  </nav>