			<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/img_7.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to GA solutions!</h3>
          <h5 class="light grey-text text-lighten-3">This is “True Convergence” for the Publishing Industry.</h5>
        </div>
      </li>
      <li>
        <img src="assets/img_2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Maximizing the value of your content</h3>
          <h5 class="light grey-text text-lighten-3">We have developed extensive capabilities in managing end-to-end publishing services across many of the product types listed below.</h5>
        </div>
      </li>
      <li>
        <img src="assets/img_3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Accelerating your digital initiatives</h3>
          <h5 class="light grey-text text-lighten-3">we also deliver highly customized eLearning solutions through effective instructional design and rich animations for personalized learning experience and engagement to students in the academic segment</h5>
        </div>
      </li>
      <li>
        <img src="assets/img_4.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Digital Publishing!</h3>
          <h5 class="light grey-text text-lighten-3">Our capability to offer solutions across editorial development to digital products makes us truly an end-to-end content solutions provider.</h5>
        </div>
      </li>
            <li>
        <img src="assets/img_5.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Digital Publishing!</h3>
          <h5 class="light grey-text text-lighten-3">Our capability to offer solutions across editorial development to digital products makes us truly an end-to-end content solutions provider.</h5>
        </div>
      </li>
            <li>
        <img src="assets/img_6.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Digital Publishing!</h3>
          <h5 class="light grey-text text-lighten-3">Our capability to offer solutions across editorial development to digital products makes us truly an end-to-end content solutions provider.</h5>
        </div>
      </li>
            <li>
        <img src="assets/img_1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Digital Publishing!</h3>
          <h5 class="light grey-text text-lighten-3">Our capability to offer solutions across editorial development to digital products makes us truly an end-to-end content solutions provider.</h5>
        </div>
      </li>
    </ul>
  </div>