<div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-red-text"><i class="material-icons large">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">The e-publishing industry has grown as a result of the success of these devices, and publishers find that publishing e-books has numerous benefits: lower investment, cheaper production costs, low inventory storage costs, and most important of all, the ability to build a stronger global customer base.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-pink-text"><i class="material-icons large">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">Our website development process is eight years in the making -- structured for efficiency and high-quality output. We start with a website specifications document, ensuring your requirements are outlined and communicated to our team at the start, and follow-through with extensive quality assurance testing.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">The number of people reading e-books in 2011 went up by 163% over the previous year and by 36% in the last 4 months of 2011, as reported by Goodreads.com after analyzing 19 million books that people have marked as 'finished' on their site over the past three years.

</p>
          </div>
        </div>
      </div>

    </div>